.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 75px 50px 300px 75px;
}

#navbar {
  grid-column: span 5;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-column-start: 1;
  grid-row: span 2;
}

#title {
  grid-column-start: 2;
  grid-column-start: span 4;
}


#content {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
}

#footer {
  grid-row-start: 4;
  grid-column: span 5;
}
